@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto:wght@100&display=swap');

:root {
  --hatter: azure;
  --betuSzin: rgb(150, 0, 0);
  --betuStilusIndexH1: Consolas;
  --betuStilusMasikH2: Roboto;
  --bodyStilus: Roboto;
  --hataroloVonal: 1px solid black;
  --liHatterSzin: rgb(2, 65, 184);
  --liHatterSzinLebeg: dodgerBlue;
}

body {
  background-color: var(--hatter);
  font-family: var(--bodyStilus);
  margin: 0px;
  padding: 0px;
  background-image: url(/kepek/karacsonykep.jpg);
  background-repeat: no-repeat ;
  background-position: top;
}

h1 {
  color: var(--betuSzin);
  font-family: var(--betuStilusIndexH1);
  text-align: center;
  width: 100%;
  border-radius: 8px;
  font-size: xx-large;
}

h2 {
  color: var(--betuSzin);
  font-family: var(--betuStilusMasikH2);
  text-align: center;
}

h6 {
  color: var(--betuSzin);
  font-family: var(--betuStilusMasikH2);
}

nav {
  list-style-type: none;
  padding: 0px;
}

nav li {
  width: 25%;
  overflow: hidden;
  border-radius: 8px;
}

nav li a {
  background-color: var(--liHatterSzin);
  color: white;
  display: block;
  font-weight: bold;
  width: 100%;
  line-height: 40px;
  height: 45px;
  text-decoration: none;
  text-align: center;
}

nav li a:hover {
  background-color: var(--liHatterSzinLebeg);
}


#viz-nav {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

#viz-nav li {
  float: left;
  margin: 0px;
}

.active {
  background-color: red;
}

.jobb {
  width: 70%;
  float: left;
}
